
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital@1&family=Tilt+Prism&display=swap');

*{
    border: 0;
    padding: 0;
}
body{
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Tilt Prism', cursive;
    background: rgb(118,181,252);
    background: radial-gradient(circle, rgba(118,181,252,1) 0%, rgba(105,105,105,1) 47%);
}
.principal{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.boton{
    margin-top: 20px;
    border-radius: 100px;
    width: 150px;
    height: 30px;
}
.input{
    margin-top: 20px;
    width: 300px;
    height: 30px;
    border-radius: 100px;
}
.label{
    color: white;
}